<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>アンケート作成システム - トップページ</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet" />
    <!--<link href="https://fonts.googleapis.com/css?family=Kosugi+Maru|Open+Sans" rel="stylesheet"/>-->
    <link href="//css/base.css" th:href="@{/css/base.css}" rel="stylesheet" />

    <script type="text/javascript" src="../../static/js/google-charts-loader.js"
            th:src="@{/js/google-charts-loader.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        function drawChart() {
            var viewData = [];
            var title = "";
            this.setViewData = function(tmpData){
                viewData = tmpData;
            };
            this.setTitle = function(tmpTitle){
                title = tmpTitle;
            };

            // setOnLoadCallbackにセットするメソッド(関数を返す)
            this.get = function(){
                return function(){
                    // Define the chart to be drawn.
                    var data = new google.visualization.DataTable();
                    data.addColumn('string', 'Element');
                    data.addColumn('number', 'Percentage');
                    data.addRows(viewData);

                    // Instantiate and draw the chart.
                    var chart = new google.visualization.PieChart(document.getElementById(title));
                    chart.draw(data, null);
                }
            }
        }

        function drawStuff() {
            var viewData = [];
            var title = "";
            this.setViewData = function(tmpData){
                viewData = tmpData;
            };
            this.setTitle = function(tmpTitle){
                title = tmpTitle;
            };

            // setOnLoadCallbackにセットするメソッド(関数を返す)
            this.get = function(){
                return function(){
                    // Define the chart to be drawn.
                    var data = new google.visualization.DataTable();
                    data.addColumn('string', ' ');
                    data.addColumn('number', '回答数');
                    data.addRows(viewData);

                    var options = {
                        width: 700,
                        legend: { position: 'none' },
                        bars: 'horizontal', // Required for Material Bar Charts.
                        axes: {
                            x: {
                                0: { side: 'top', label: '回答数'} // Top x-axis.
                            }
                        },
                        bar: { groupWidth: "50%" }
                    };

                    // Instantiate and draw the chart.
                    var chart = new google.charts.Bar(document.getElementById(title));
                    chart.draw(data, options);
                }
            };
        }

        google.charts.load('current', {packages: ['corechart', 'bar']});

        function convert2Array(data){
            var result = [];
            for(var i = 0; i < data.length; i++){
                result.push([data[i].key, parseInt(data[i].value)]);
            }
            return result;
        }

        /*<![CDATA[*/
        /*[# th:each="chartDataItem, status : ${chartRootData}"]*/
            /*[# th:if="${chartDataItem.docType.toString() != 'commentQ'}"]*/
                var data[[${status.index}]] = /*[[${chartDataItem.chartData}]]*/ [];
                var dataArray[[${status.index}]] = convert2Array(data[[${status.index}]]);

                /*[# th:if="${chartDataItem.docType.toString() == 'singleQ'}"]*/
                    var drawChart[[${status.index}]] = new drawChart();
                /*[/]*/

                /*[# th:if="${chartDataItem.docType.toString() == 'multiQ'}"]*/
                    var drawChart[[${status.index}]] = new drawStuff();
                /*[/]*/

                drawChart[[${status.index}]].setViewData(dataArray[[${status.index}]]);
                drawChart[[${status.index}]].setTitle("myPieChart[[${status.index}]]");
                google.charts.setOnLoadCallback(drawChart[[${status.index}]].get());
            /*[/]*/
        /*[/]*/
        /*]]>*/
    </script>
</head>
<body style="padding-top: 70px">

<!-- menu -->
<div th:replace="/fragments/menu :: menu(target = 'chart')"></div>
<!-- end of menu -->

<!-- main container -->
<div class="container"><br/>
    <!-- アンケートの選択 -->
    <form name="form1" method="post" action="/chart/dashboard" th:action="@{/chart/dashboard}" th:object="${chartSelectForm}">
        <div class="form-group row">
            <label for="questionTitle" class="col-sm-2 col-form-label">
                選択中のアンケート
            </label>
            <div class="col-sm-8">
                <select class="form-control" id="questionTitle" th:field="*{questionnaireId}">
                    <option th:each="questionnaire, status: ${questionnaires}" th:text="${questionnaire.title}"
                            name="questionnaireId"
                            th:value="${questionnaire.questionnaireId}"
                            th:selected="${questionnaire.questionnaireId == currentQuestionnaireId}"></option>
                </select>
            </div>
            <div class="col-sm-2">
                <button type="submit" class="btn btn-secondary">変更する</button>
            </div>
        </div>

        <div class="form-group row">
            <label for="department" class="col-sm-2 col-form-label">
                部署
            </label>
            <div class="col-sm-8">
                <select class="form-control" id="department" th:field="*{departmentName}">
                    <option th:value="DEFAULT" th:selected="${currentDepartment == null}">すべて</option>
                    <option th:each="departmentItem : ${departmentList}"
                            th:text="${departmentItem}"
                            th:value="${departmentItem}"
                            th:selected="${departmentItem == currentDepartment}">
                    </option>
                </select>
            </div>
            <div class="col-sm-2">
                <button type="submit" class="btn btn-secondary">変更する</button>
            </div>
        </div>

        <div class="form-group row">
            <label for="employee" class="col-sm-2 col-form-label">
                職制
            </label>
            <div class="col-sm-8">
                <select class="form-control" id="employee" th:field="*{employeeStatus}">
                    <option th:value="DEFAULT" th:selected="${currentEmployee == null}">すべて</option>
                    <option th:each="employeeItem : ${employeeList}"
                            th:text="${employeeItem}"
                            th:value="${employeeItem}"
                            th:selected="${employeeItem == currentEmployee}">
                    </option>
                </select>
            </div>
            <div class="col-sm-2">
                <button type="submit" class="btn btn-secondary">変更する</button>
            </div>
        </div>
    </form>

    <!-- グラフ -->
    <div th:each="item, status : ${chartRootData}">
        <div th:if="${item.docType.toString() == 'singleQ'}">
            <h2><i class="far fa-file-alt"></i> Q.[[${item.questionnaireNo}]] [[${item.questionnaire}]]</h2>
            <div th:id="'myPieChart' + ${status.index}" style="width: 650px; height: 350px;"></div>
        </div>

        <div th:if="${item.docType.toString() == 'multiQ'}">
            <h2><i class="far fa-file-alt"></i> Q.[[${item.questionnaireNo}]] [[${item.questionnaire}]]</h2>
            <div th:id="'myPieChart' + ${status.index}" style="width: 650px; height: 350px;"></div>
            <br/>
            <br/>
        </div>

        <div th:if="${item.docType.toString() == 'commentQ'}">
            <h2><i class="far fa-file-alt"></i> Q.[[${item.questionnaireNo}]] [[${item.questionnaire}]]</h2>
            <ul class="list-group">
                <li class="list-group-item" th:each="eachItem : ${item.chartData}" th:text="${eachItem.key}"></li>
            </ul>
        </div>
    </div>
    <br/>
    <br/>
    <br/>
</div>
<!-- end of main container -->

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/dist/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:href="@{/webjars/font-awesome/js/all.js}"></script>
<script>
    $('i').tooltip();
</script>
</body>
</html>