<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>アンケート作成システム - トップページ</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet" />
    <!--<link href="https://fonts.googleapis.com/css?family=Kosugi+Maru|Open+Sans" rel="stylesheet"/>-->
    <link href="//css/base.css" th:href="@{/css/base.css}" rel="stylesheet" />

    <link href="//css/Chart.min.css" th:href="@{/css/Chart.min.css}" rel="stylesheet" />
    <script type="text/javascript" src="../../static/js/Chart.bundle.min.js"
            th:src="@{/js/Chart.bundle.min.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        window.onload = function() {
            function drawChart() {
                var viewData = [];
                var title = "";
                this.setViewData = function (tmpData) {
                    viewData = tmpData;
                };
                this.setTitle = function (tmpTitle) {
                    title = tmpTitle;
                };
                this.get = function() {
                    return function () {

                    }
                }
            }

            var ctx = document.getElementById('myChart');
            var myChart = new Chart(ctx, {
                type: 'horizontalBar',
                data: {
                    labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                    datasets: [{
                        label: '# of Votes',
                        data: [12, 19, 3, 5, 2, 3],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        }
    </script>
</head>
<body style="padding-top: 70px">

<!-- menu -->
<div th:replace="/fragments/menu :: menu(target = 'chart')"></div>
<!-- end of menu -->

<!-- main container -->
<div class="container"><br/>
    <!-- アンケートの選択 -->
    <form name="form1" method="post" action="/chart/dashboard" th:action="@{/chart/dashboard}" th:object="${chartSelectForm}">
        <div class="form-group row">
            <label for="questionTitle" class="col-sm-2 col-form-label">
                選択中のアンケート
            </label>
            <div class="col-sm-8">
                <select class="form-control" id="questionTitle" th:field="*{questionnaireId}">
                    <option th:each="questionnaire, status: ${questionnaires}" th:text="${questionnaire.title}"
                            name="questionnaireId"
                            th:value="${questionnaire.questionnaireId}"
                            th:selected="${questionnaire.questionnaireId == currentQuestionnaireId}"></option>
                </select>
            </div>
            <div class="col-sm-2">
                <button type="submit" class="btn btn-secondary">変更する</button>
            </div>
        </div>

        <div class="form-group row">
            <label for="department" class="col-sm-2 col-form-label">
                部署
            </label>
            <div class="col-sm-8">
                <select class="form-control" id="department" th:field="*{departmentName}">
                    <option th:value="DEFAULT" th:selected="${currentDepartment == null}">すべて</option>
                    <option th:each="departmentItem : ${departmentList}"
                            th:text="${departmentItem}"
                            th:value="${departmentItem}"
                            th:selected="${departmentItem == currentDepartment}">
                    </option>
                </select>
            </div>
            <div class="col-sm-2">
                <button type="submit" class="btn btn-secondary">変更する</button>
            </div>
        </div>

        <div class="form-group row">
            <label for="employee" class="col-sm-2 col-form-label">
                職制
            </label>
            <div class="col-sm-8">
                <select class="form-control" id="employee" th:field="*{employeeStatus}">
                    <option th:value="DEFAULT" th:selected="${currentEmployee == null}">すべて</option>
                    <option th:each="employeeItem : ${employeeList}"
                            th:text="${employeeItem}"
                            th:value="${employeeItem}"
                            th:selected="${employeeItem == currentEmployee}">
                    </option>
                </select>
            </div>
            <div class="col-sm-2">
                <button type="submit" class="btn btn-secondary">変更する</button>
            </div>
        </div>
    </form>
    <canvas id="myChart" style="width: 650px; height: 350px;"></canvas>
    <!-- グラフ -->
    <div th:each="item, status : ${chartRootData}">
        <div th:if="${item.docType.toString() == 'singleQ'}">
            <h2><i class="far fa-file-alt"></i> Q.[[${item.questionnaireNo}]] [[${item.questionnaire}]]</h2>
            <!--<canvas id="myChart" width="400" height="400"></canvas>-->
        </div>

        <div th:if="${item.docType.toString() == 'multiQ'}">
            <h2><i class="far fa-file-alt"></i> Q.[[${item.questionnaireNo}]] [[${item.questionnaire}]]</h2>
            <!--<canvas id="myChart" width="400" height="400"></canvas>-->
            <br/>
            <br/>
        </div>

        <div th:if="${item.docType.toString() == 'commentQ'}">
            <h2><i class="far fa-file-alt"></i> Q.[[${item.questionnaireNo}]] [[${item.questionnaire}]]</h2>
            <ul class="list-group">
                <li class="list-group-item" th:each="eachItem : ${item.chartData}" th:text="${eachItem.key}"></li>
            </ul>
        </div>
    </div>
    <br/>
    <br/>
    <br/>
</div>
<!-- end of main container -->

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/dist/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:href="@{/webjars/font-awesome/js/all.js}"></script>
<script>
    $('i').tooltip();
</script>
</body>
</html>