<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>アンケート作成システム - トップページ</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet" />
    <!--<link href="https://fonts.googleapis.com/css?family=Kosugi+Maru|Open+Sans" rel="stylesheet"/>-->
    <link href="//css/base.css" th:href="@{/css/base.css}" rel="stylesheet" />

    <script type="text/javascript" src="../../static/js/google-charts-loader.js"
            th:src="@{/js/google-charts-loader.js}"></script>
    <script type="text/javascript">
        google.charts.load('current', {packages: ['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            // Define the chart to be drawn.
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Element');
            data.addColumn('number', 'Percentage');
            data.addRows([
                ['Nitrogen', 0.78],
                ['Oxygen', 0.21],
                ['Other', 0.01]
            ]);

            // Instantiate and draw the chart.
            var chart = new google.visualization.PieChart(document.getElementById('myPieChart'));
            chart.draw(data, null);
        }
    </script>
</head>
<body style="padding-top: 70px">

<!-- menu -->
<div th:replace="/fragments/menu :: menu(target = 'chart')"></div>
<!-- end of menu -->

<!-- main container -->
<div class="container"><br/>
    <!-- Identify where the chart should be drawn. -->
    <div id="myPieChart"/>
</div>
<!-- end of main container -->

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/dist/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:href="@{/webjars/font-awesome/js/all.js}"></script>
<script>
    $('i').tooltip();
</script>
</body>
</html>