<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>アンケート作成システム - トップページ</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet" />
    <!--<link href="https://fonts.googleapis.com/css?family=Kosugi+Maru|Open+Sans" rel="stylesheet"/>-->
    <link href="//css/base.css" th:href="@{/css/base.css}" rel="stylesheet" />
    <link href="//css/thanks.css" th:href="@{/css/thanks.css}" rel="stylesheet" />
</head>
<body>

<!-- main container -->
<div class="container"><br/>

    <br>
    <br>

    <div class="row justify-content-center">
        <h1 class="text-center">
            アンケートにご協力ありがとうございました！
        </h1>
    </div>
</div>
<!-- end of main container -->

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/dist/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:href="@{/webjars/font-awesome/js/all.js}"></script>
</body>
</html>