<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>アンケート作成システム - トップページ</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet" />
    <!--<link href="https://fonts.googleapis.com/css?family=Kosugi+Maru|Open+Sans" rel="stylesheet"/>-->
    <link href="//css/base.css" th:href="@{/css/base.css}" rel="stylesheet" />
    <link href="//css/customerTop.css" th:href="@{/css/customerTop.css}" rel="stylesheet" />
</head>
<body>

<!-- main container -->
<div class="container"><br/>
    <div class="row justify-content-center">
        <h1 class="text-center">
            <i class="fab fa-quora fa-4x"></i>
            アンケートフォーム
        </h1>
    </div>

    <br>
    <br>

    <div class="row col-sm-6 mx-auto">
        <form method="post" action="/questionnaire/top" th:action="@{/questionnaire/top}" th:object="${employeeForm}">
            <div class="header clearfix">
                <h3 class="text-center" th:text="${title}"></h3>
                <!-- 渡すパラメータ -->
                <input type="hidden" name="title" th:value="${title}">
            </div>

            <hr/>

            <!-- 部署 -->
            <div class="form-group row">
                <label for="department">部署
                    <i class="fas fa-question-circle" data-placement="right"
                       data-toggle="tooltip" data-original-title="あなたの部署を入力してください。"></i>
                </label>
                <select class="custom-select form-control" id="department" th:field="*{departmentName}"
                        th:classappend="${departmentNameError == 'ERROR'} ? 'is-invalid bg-white'">
                    <option th:value="ERROR" selected>選択してください...</option>
                    <option th:each="departmentItem : ${departmentList}"
                            th:text="${departmentItem}"
                            th:value="${departmentItem}">
                    </option>
                </select>
                <div class="invalid-feedback">部署を選択してください。</div>
            </div>

            <!-- 従業員ステータス -->
            <div class="form-group row">
                <label for="employee">所属
                    <i class="fas fa-question-circle" data-placement="right"
                       data-toggle="tooltip" data-original-title="あなたの所属を入力してください。"></i>
                </label>
                <select class="custom-select form-control" id="employee" th:field="*{employeeStatus}"
                        th:classappend="${#fields.hasErrors('employeeStatus')} ? 'is-invalid bg-white'">
                    <option th:value="ERROR" selected>選択してください...</option>
                    <option th:each="employeeItem : ${employeeList}"
                            th:text="${employeeItem}"
                            th:value="${employeeItem}">
                    </option>
                </select>
                <span class="invalid-feedback">所属を選択してください。</span>
            </div>

            <!-- 社員番号（OA番号） -->
            <div class="form-group row">
                <label for="username">社員番号（OA番号）
                    <i class="fas fa-question-circle" data-placement="right"
                       data-toggle="tooltip" data-original-title="あなたのOA番号を入力してください。"></i>
                </label>
                <input class="form-control" type="text"
                       id="username" th:field="*{employeeId}"
                       placeholder="例）123456" autofocus="autofocus"
                       th:classappend="${#fields.hasErrors('employeeId')} ? 'is-invalid'">
                    <div class="invalid-feedback">社員番号（OA番号）を入力してください。</div>
            </div>

            <div class="form-group row">
                <button type="submit" class="btn btn-primary float-right btn-block">
                    アンケートを開始する
                </button>
            </div>
        </form>
    </div>
</div>
<!-- end of main container -->

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/dist/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:href="@{/webjars/font-awesome/js/all.js}"></script>
<script>
    $('i').tooltip();
</script>
</body>
</html>