@font-face {
    font-family: KosugiMaru;
    src:url(../font/KosugiMaru-Regular.ttf) format("truetype");
}

@font-face {
    font-family: OpenSans;
    src:url(../font/OpenSans-Regular.ttf) format("truetype");
    src:url(../font/OpenSans-Regular.eot)
}

@font-face {
    font-family: NotoSansJP;
    src:url(../font/NotoSansJP-Regular.otf) format('opentype');
}

@font-face {
    font-family: Kosugi;
    src:url(../font/Kosugi-Regular.ttf) format("truetype");
    src:url(../font/Kosugi-Regular.eot)
}

body {
    font-family: 'OpenSans', 'KosugiMaru', 'Kosugi', 'HG丸ｺﾞｼｯｸM-PRO';
    font-weight: 400;
}
