body {
    /*background-color: #001f3f;*/
}

.modal-dialog-centered {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: end !important;
    align-items: end !important;
    min-height: calc(100% - 1rem);
}